* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background: #06689f; /*From http://flatuicolors.com/ */
}

.web_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 1000px;
  z-index: -10;
  zoom: 1;
  background-image: url('../images/1.png');
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
}

.web_form {
  position: relative;
  width: 370px;
  height: 420px;
  margin: 200px auto 0;
  text-align: center;
  background: #FFFFFF;
  padding: 40px;
  /*-webkit-border-radius: 20px 0 0 0;
  -moz-border-radius: 20px 0 0 0;
  border-radius: 0px 0 0 0;
  -webkit-box-shadow: 0px 1px 0px #ad392d, inset 0px 1px 0px white;
  -moz-box-shadow: 0px 1px 0px #ad392d, inset 0px 1px 0px white;
  box-shadow: 0px 1px 0px #ad392d, inset 0px 1px 0px white;*/
  box-shadow: 3px 3px 5px;
  box-sizing: content-box;
}

h4 {
  font-family: 'Microsoft Yahei';
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 25px;
  color: #000000;
  text-shadow:1px 1px 0px white;
}

/*input {
  display: block;
  width: 100%;
  padding: 14px;
  box-sizing: border-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 0;
  margin-bottom: 25px;
  color: #7f8c8d;
  font-weight: 600;
  font-size: 16px;
}*/
.input{
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.input input{

  flex: 1;
  padding: 14px;
  background: none;
  color: #7f8c8d;
  font-weight: 600;
  font-size: 16px;
  border: none;outline:none;
  border-bottom: 1px solid #20B2AA;
}

.input input:focus {
  background: none;
}
.input input:active{
  background: none;
}
.input img{width: 30px}
li,ul {
  list-style: none;
}
.checkbox{
  text-align: left;
  font-size: 17px;
  display: block;
}
select {
  height: 30px;
  width: 100px;
  position: absolute;
  right: 130px;
  bottom: 52px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #7f8c8d;
  list-style: none;
  border: none;
}

option {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #7f8c8d;
}

a, a:visited {
  text-decoration: none;
  color: #7f8c8d;
  font-weight: 400;
  text-shadow: 1px 1px 0px white;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.button {
  width:355px;
  height: 50px;
  line-height: 2.4;
  width: 100%;
  margin-top: 20px;
  background: #20B2AA;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  box-shadow:0px 3px 0px #2d7baf;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 3px #ccc;
  cursor: pointer;
}

.fog{
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin-top: 40px;
}
.fog a:hover{ cursor: pointer; color: #20B2AA}

p {
  width: 230px;
  height: 30px;
  text-align: center;
  line-height: 0px;
  color: #f00;
  font-size: 10px;
  text-align:left;
  margin-left: 30px;
}

#err {
  height: 14px;
  margin-bottom: 10px;
}