#menubar {
    float: right;
    ;
}
#menubar a{
    margin-top: 10px;
    margin-right: 10px;
}
#search-img{
    margin-top: 250px;
    display: inline-block;
    width:272px;
    height: 92px;
}
#search{
    display: block;
    width: 100%;
}
#search-input{
    width: 500px;
    height: 30px;
    margin-top: 20px;
}
#search-btn{
    margin-top: 20px;
}
#search-btn button{
    height: 25px;
    background: #EDEDED;

}
#img-box{
    width: 100%;
    text-align: center;
}